html
	head
		title wrdbr
		link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.3.0/animate.min.css")
		link(rel="stylesheet" href="http://localhost:3001/wrdbr.css")
		link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
		meta(name="viewport" content="width=device-width, initial-scale=1")
	body(style="background: url('/public/light_wool.png') repeat;")
		#app
			!= app
		input(hidden="true" id="payload" value=data)
		script(src="http://localhost:3000/wrdbr.js")
